@import "./abstracts/normalize";
@import "./abstracts/variables";

@import "./base/base";
@import "./base/typography";

@import "./components/button";

@import "./layout/container";

// Frontend Mentor attribution
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: lighten($clr-primary-cyan, 10%);
}