.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  transition: background-color .25s ease-in-out, box-shadow .25s ease-in-out;

  &-primary {
    height: 6.4rem;
    width: 6.4rem;
    background-color: $clr-primary-green;
    border-radius: 5rem;
    text-transform: uppercase;

    &:hover,
    &:focus {
      background-color: $clr-primary-green;
      box-shadow: 0 0 3rem $clr-primary-green;
    }
  }
}